.feedback{
    h3{
        width: 80%;
        margin:auto;
        padding-top: 30px;
    }
    background-color: $color-white-cream;
    margin-top: $mg-2;
    .feedback__list{
        width: 80%;
        margin:auto;
        padding:$pd-2;
        .feedback__img{
            background-color: $color-white-0;
            padding:$pd-2 + 4;
            height: 249px;
            box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
            border-radius: 3px;
            .fb-img{
                display:flex;
                img {
                    width: 25%;
                    border-radius: 50%;
                }
                .fb-name {
                    @include styleText($color-black-0, $fs-2 - 3,$fw-bold);
                    padding:$pd-2 +5 $pd-1 +5;

                }
            }
            .fb-comment{
                padding-top: $pd-1;
                line-height: 25px;
                @include styleText($color-black-0, $fs-0,$fw-normal)
            }
        }
    }
    .feedback__trade{
        text-align: center;
        h6{
            @include styleText($color-gray-4, $fs-0,$fw-normal);
            padding-top: $pd-2;
            padding-bottom:$pd-2 + 10;
        }
        img{
            padding: 0 40px;
        }
    }
    .feedback__end{
        padding-top: 80px;
        padding-bottom: 50px;
        .long{
            border-right: 1px solid $color-gray-6;
        }
        .fb-end{
            padding: 0px 170px;
            h4{
                @include styleText($color-black-light,$fs-2,$fw-bold)
            }
            p{
                line-height:25px
            }
        }
        @include responsive("extra-large"){
            .fb-end{padding: 0;}
        }
    }
    
}
// .feedback{
//     @include responsive("extra-large"){
//         .feedback__list{
//             dots
//         }
//     }
// }