.topCategories{
    .top__content{
        width: 80%;
        margin: auto;
        .cate-icon{
            box-shadow: rgba(20, 23, 28, 0.1) 0px 0px 1px 1px, rgba(20, 23, 28, 0.1) 0px 3px 1px 0px;
            opacity: 1;
            margin: $mg-1;
            padding:$pd-1 + 5;
            display: flex;
            &:after {
                opacity: 0;
                box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
                content: '';
                position: absolute;
                left: 25px;
                top: 10px;
                width: 84%;
                height: 75%;
                transition: .2s ease;
            }
            &:hover::after{
                opacity: 1;
            }
            .fa{
                font-size:$fs-2 + 8;
                padding-right: $pd-1 +6;
            }
            span{
                line-height: 28px;
            }
        }
    }
}